/*******tic-tac-toe******/
#tic-tac-toe .disable {text-transform:uppercase; font-size:30px; font-family:Georgia, "Times New Roman", Times, serif}
#tic-tac-toe #game li {float:left; padding:0; list-style:none; text-align:center; margin-bottom:20px; color:#fff; height:60px; line-height:60px; font-size:40px; color:#ccc}
#tic-tac-toe #game li.disable{color:#fff}
#tic-tac-toe #game {float:left; padding:0; clear:both}
.new_span {width:226px}
#tic-tac-toe #reset { padding:5px 10px; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:20px; clear:both; cursor:pointer; float:left; text-align:center; text-transform:uppercase; outline:none; width:204px}
.input-prepend span.pre_text {width:55px}
.input-prepend .span1{width:93px}
.input-prepend {margin-bottom:10px}
.clr {clear:both; height:0}
#tic-tac-toe h1 {text-align:center; font-size:28px}
#tic-tac-toe li::-moz-selection {background:none;color:#000;}
#tic-tac-toe li::-webkit-selection {background:none;color:#000;}
#tic-tac-toe {width:220px; margin:0 auto}
.input-append .win_times {background:#fff; width:101px}
.input-append .win_text {width:52px}
/*******tic-tac-toe END******/


/*optimised for mobile*/
.new_span {
    width: 230px;
    margin-left: 0;
    height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -215px 0 0 -113px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(game-background.jpg);
}

#tic-tac-toe {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.o {
    background: url(o.png) no-repeat center center;
}

.o {
    background-color: #006dcc;
}

.x {
    background: url(x.png) no-repeat center center;
}

.x {
    background-color: #49afcd;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #49b8d9;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0b76d3;
}

/*do not fucking show the text*/
#tic-tac-toe #game li.disable {
    font: 0/0 a;
    color: transparent;
}


.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0px 0px;
}

.input-append .win_text {
    width: 75px;
}

body {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tic-tac-toe #reset {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
